body {
    margin:0;
    background:black;
    font-family:Arial, sans-serif;
    text-align:center;
    color:white;
}

.hero {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.statue {
    width:300px;
    opacity:0.9;
}

h1 span {
    color:red;
    text-shadow:0 0 25px red;
}

button {
    padding:15px 40px;
    margin-top:20px;
    background:black;
    border:1px solid red;
    color:red;
    cursor:pointer;
}
